body{
    display:grid;
    grid-template-areas: 
    "nav main ";
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    padding-top: 20px;
    padding-left: 0px;
    margin-left: 0;
}

nav{
    position: fixed;
    border-right: solid #7d7d7e;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #dededf;
}
main{
    position: relative;
    left: 400px;
    width: 70vw;
}
header{
    font-size: 1.8em;
    color: black;
    text-align: center;
}

#main-doc header{
    text-align: left;
}

#navbar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

#navbar li{
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
  }

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}